@import "../../scss/mixins/text-styles";

.radio {
  position: relative;
  display: flex;
  gap: 8px;
  justify-self: start;

  &__input {
    display: none;
  }

  &__fake-input {
    @include flex-center;

    justify-content: space-between;
    flex-shrink: 0;
    width: 100%;
    border-radius: 16px;
    cursor: pointer;

    &::after {
      display: block;
      width: 20px;
      height: 20px;
      border-radius: 16px;
      background-color: var(--color-dark);
      content: "";
    }
  }

  &__input:checked+&__fake-input::after {
    background: url("../{{icon}}/radiobutton") no-repeat center;
    background-position: center -240px;
    background-size: 20px 260px;
  }

  &__input[disabled]+&__fake-input {
    border: 1px solid var(--border-button-disabled);
    cursor: not-allowed;
  }

  &__input[disabled]:checked+&__fake-input {
    border: 1px solid var(--border-button-disabled);
    cursor: not-allowed;
  }

  &__input[disabled]:checked+&__fake-input::after {
    background: var(--brand-primary-light);
  }

  &__label {
    @include checkbox-label;

    cursor: pointer;
    user-select: none;
  }

  &__input[disabled]~&__label {
    color: var(--front-tertiary);
    cursor: not-allowed;
  }
}
