@import "../../scss/mixins/text-styles";

.radio {
  $this: &;
  position: relative;
  display: flex;
  gap: 8px;
  justify-self: start;

  &__input {
    display: none;
  }

  &__fake-input {
    @include flex-center;

    justify-content: space-between;
    width: 100%;
    border-radius: 16px;
    cursor: pointer;

    &::after {
      display: block;
      width: 20px;
      height: 20px;
      border-radius: 16px;
      flex-shrink: 0;
      background-color: var(--color-dark);
      border: 1px solid var(--color-dark);
      content: "";
      transition: border 0.3s;
    }
  }

  &__input:checked+&__fake-input::after {
    background: url("../{{icon}}/radiobutton") no-repeat center;
    background-position: center -240px;
    background-size: 20px 260px;
  }

  &__label {
    @include checkbox-label;

    cursor: pointer;
    user-select: none;
  }

  &:hover {
    #{$this} {
      &__fake-input::after {
        border-color: var(--color-blue);
      }
    }
  }
}
