.top-block {

    &__text {
        display: block;
        margin-bottom: 40px;
        padding: 10px 10px 10px 15px;
        border-radius: 10px;
        background-color: var(--color-dark);
        font-size: 10px;
        line-height: 163.036%;

        @media screen and (min-width: $screen-ti) {
            padding: 0;
            margin-bottom: 32px;
            background-color: transparent;
            font-size: 14px;
            line-height: 116.455%;
        }
    }

    &__title {
        position: relative;
        z-index: 5;
        margin-bottom: -92px;
        font-weight: 800;
        line-height: 88.443%;
        font-size: 75.857px;

        @media screen and (min-width: $screen-ti) {
            margin-bottom: -131px;
            font-size: 117.59px;
        }
    }

    &__wrap-img {
        height: 157px;
        background-blend-mode: multiply;
        border-radius: 9.68px;

        @media screen and (min-width: $screen-ti) {
            height: 240px;
            border-radius: 15px;
        }
    }

    &__img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        overflow: hidden;
    }

    &__slider {
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        border-radius: none;

        @media screen and (min-width: $screen-ti) {
            height: 240px;
            border-radius: 15px;
        }
    }

    &__inner {
        margin-left: -16px;
        margin-right: -16px;

        @media screen and (min-width: $screen-ti) {
            margin-left: 0;
            margin-right: 0;
        }
    }
}
