.form-block {
    &__inner {
        @media screen and (min-width: $screen-ti) {
            display: grid;
            grid-template-columns: 1fr;
            gap: 44px;
        }

        @media screen and (min-width: $screen-dl) {
            display: grid;
            grid-template-columns: 1fr 296px;
            gap: 44px;
        }
    }

    &__selects {
        display: grid;
        grid-template-columns: 1fr;
        gap: 12px;

        @media screen and (min-width: $screen-ti) {

            grid-template-columns: 199px 188px 1fr;
            gap: 25px;

            .form-block__select {
                &:not(:last-child) {
                    .spoiler-wrap {
                        position: relative;

                        &::before {
                            content: "";
                            display: block;
                            position: absolute;
                            right: -10px;
                            top: 10px;
                            width: 2px;
                            height: 20px;
                            background-color: var(--color-dark);
                        }
                    }
                }
            }
        }
    }

    &__row {
        display: flex;
        justify-content: space-between;
        gap: 12px;
    }

    &__row-title {
        @include checkbox-label;
    }

    &__agree {
        .checkbox__fake-input {
            align-items: flex-start;

            &::after {
                margin-top: 2px;
            }
        }

        .checkbox__label {
            color: rgba(255, 255, 255, 0.50);
            font-size: 14px;
            font-weight: 400;
        }
    }
}
