@import "../../scss/mixins/text-styles";

.checkbox {
  $this: &;
  position: relative;
  display: flex;
  gap: 8px;
  justify-self: start;

  &__input {
    display: none;
  }

  &__fake-input {
    @include flex-center;
    flex-direction: row-reverse;
    justify-content: flex-end;
    flex-shrink: 0;
    gap: 7px;
    width: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 16px;
    cursor: pointer;

    &::after {
      display: block;
      width: 20px;
      height: 20px;
      border-radius: 5px;
      flex-shrink: 0;
      background-color: var(--color-dark);
      border: 1px solid var(--color-dark);
      content: "";
      transition: border 0.3s;
    }
  }

  &__input:checked+&__fake-input::after {
    background: url("../{{icon}}/checked") var(--color-blue) no-repeat center;
    background-position: center -316px;
    background-size: 12px 340px;
  }

  &__label {
    @include checkbox-label;

    cursor: pointer;
    user-select: none;
  }

  &:hover {
    #{$this} {
      &__fake-input::after {
        border-color: var(--color-blue);
      }
    }
  }
}
