@import "../../scss/mixins/text-styles";

.checkbox {
  position: relative;
  display: flex;
  gap: 8px;
  justify-self: start;

  &__input {
    display: none;
  }

  &__fake-input {
    @include flex-center;
    flex-direction: row-reverse;
    justify-content: flex-end;
    flex-shrink: 0;
    gap: 7px;
    width: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 16px;
    cursor: pointer;

    &::after {
      display: block;
      width: 20px;
      height: 20px;
      border-radius: 5px;
      background-color: var(--color-dark);
      content: "";
    }
  }

  &__input:checked+&__fake-input::after {
    background: url("../{{icon}}/checked") var(--color-blue) no-repeat center;
    background-position: center -316px;
    background-size: 12px 340px;
  }

  &__input[disabled]+&__fake-input {
    border: 1px solid var(--border-button-disabled);
    cursor: not-allowed;
  }

  &__input[disabled]:checked+&__fake-input {
    border: 1px solid var(--border-button-disabled);
    cursor: not-allowed;
  }

  &__input[disabled]:checked+&__fake-input::after {
    background: var(--brand-primary-light);
  }

  &__label {
    @include checkbox-label;

    cursor: pointer;
    user-select: none;
  }

  &__input[disabled]~&__label {
    color: var(--front-tertiary);
    cursor: not-allowed;
  }
}
