@import "../../scss/mixins/list-reset";
@import "../../scss/mixins/text-styles";

.nav {
  height: 100%;
  display: none;
  align-items: center;
  gap: 60px;

  &--active {
    display: flex;
    gap: 20px;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: calc(100% + 19px);
    right: 0;
    z-index: 99;
    height: auto;
    padding: 30px 16px;
    background-color: var(--color-dark);

    @media screen and (min-width: $screen-ti) {
      left: auto;
      width: 300px;
    }
  }

  &__item {
    @include nav-link;

    color: var(--color-white);
    text-decoration: none;
    transition: 0.3s color;

    &:hover,
    &--active {
      color: var(--color-nav);
    }
  }
}
