//- Все примеси в этом файле должны начинаться c имени блока (footer)
//- Упоминание имени блока в классах обязательно, без этого он не попадёт в сборку

mixin footer(mods)

  //- Принимает:
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +footer('some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modslist = mods.split(',');
      for (var i = 0; i < modslist.length; i++) {
        allMods = allMods + ' footer--' + modslist[i].trim();
      }
    }

  footer.footer(class= allMods)&attributes(attributes)
    .container.container--footer
      nav.footer__menu
        .footer__col
          span.footer__menu-title Products
          ul.footer__ul
            li.footer__li
              a.footer__link(href="#") Features
            li.footer__li
              a.footer__link(href="#") Integrations
            li.footer__li
              a.footer__link(href="#") Enterprise
            li.footer__li
              a.footer__link(href="#") Solutions
        .footer__col
          span.footer__menu-title Products
          ul.footer__ul
            li.footer__li
              a.footer__link(href="#") Features
            li.footer__li
              a.footer__link(href="#") Integrations
            li.footer__li
              a.footer__link(href="#") Enterprise
            li.footer__li
              a.footer__link(href="#") Solutions
        .footer__col
          span.footer__menu-title Products
          ul.footer__ul
            li.footer__li
              a.footer__link(href="#") Features
            li.footer__li
              a.footer__link(href="#") Integrations
            li.footer__li
              a.footer__link(href="#") Enterprise
            li.footer__li
              a.footer__link(href="#") Solutions
        .footer__col
          span.footer__menu-title Resources
          ul.footer__ul
            li.footer__li
              a.footer__link(href="#") Partners
            li.footer__li
              a.footer__link(href="#") Developers
            li.footer__li
              a.footer__link(href="#") Community
            li.footer__li
              a.footer__link(href="#") Apps
        .footer__col
          span.footer__menu-title Company
          ul.footer__ul
            li.footer__li
              a.footer__link(href="#") About Us
            li.footer__li
              a.footer__link(href="#") Leadership
      .footer__bottom
        a(href="/")
          svg(width="123px", height="38px")
            use(href= src.icon + 'icon__logo-white')
        span.footer__copy © 2023 Football. All Rights Reserved.
        +soc-block
