//- Все примеси в этом файле должны начинаться c имени блока (soc-block)
//- Упоминание имени блока в классах обязательно, без этого он не попадёт в сборку

mixin soc-block(mods, library)

  //- Принимает:
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +soc-block('some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' soc-block--' + modsList[i].trim();
      }
    }

  .soc-block
        a.soc-block__item(href="#")
          svg.header__lk(width="24", height="24")
            use(href= src.icon + 'icon__fb')
        a.soc-block__item(href="#")
          svg.header__lk(width="24", height="24")
            use(href= src.icon + 'icon__google')
        a.soc-block__item(href="#")
          svg.header__lk(width="24", height="24")
            use(href= src.icon + 'icon__apple')
        a.soc-block__item(href="#")
          svg.header__lk(width="24", height="24")
            use(href= src.icon + 'icon__inst')
