extends ../templates/layout_default.pug

block variables
  - isMainPage = false
  - pageTitle = 'Стартовая страница'
  - metaDescription = 'description'
  - metaKeywords = 'keywords'

block content
  +top-block(_, library.topBlock)
  +form-block(_, library.formBlock)
  +best-players(_, library.bestPlayers)
  +best-moments(_, library.bestMoments)
