//- Все примеси в этом файле должны начинаться c имени блока (best-moments)
//- Упоминание имени блока в классах обязательно, без этого он не попадёт в сборку

mixin best-moments(mods, library)

  //- Принимает:
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +best-moments('some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' best-moments--' + modsList[i].trim();
      }
    }

  section.best-moments
    .container
        h2.small-title!= library[0].title
        .best-moments__slider.swiper
          .swiper-wrapper
                .best-moments__slide.swiper-slide
                    .best-moments__wrap-img.js-play-video(style="background-image: url('./img/void-bg-video.jpg'), linear-gradient(180deg, rgba(14, 22, 44, 0.00) 0%, rgba(14, 22, 44, 0.70) 100%);")
                        .best-moments__info
                            span.best-moments__info-title Самый неожиданный гол
                            span.best-moments__info-date 25.05.2023
                            span.best-moments__info-text Этот гол забит Тарасом Ваниным через 5 мин после начала матча и был совершенно неожиданным для команды соперника......
                    iframe(width="560", height="315", src="https://www.youtube.com/embed/GNrdg3PzpJQ?si=eET9ZK4smqtmQfce", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen)
                .best-moments__slide.swiper-slide
                    .best-moments__wrap-img.js-play-video(style="background-image: url('./img/void-bg-video.jpg'), linear-gradient(180deg, rgba(14, 22, 44, 0.00) 0%, rgba(14, 22, 44, 0.70) 100%);")
                        .best-moments__info
                            span.best-moments__info-title Самый неожиданный гол
                            span.best-moments__info-date 25.05.2023
                            span.best-moments__info-text Этот гол забит Тарасом Ваниным через 5 мин после начала матча и был совершенно неожиданным для команды соперника......
                    iframe(width="560", height="315", src="https://www.youtube.com/embed/GNrdg3PzpJQ?si=eET9ZK4smqtmQfce", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen)
                .best-moments__slide.swiper-slide
                    .best-moments__wrap-img.js-play-video(style="background-image: url('./img/void-bg-video.jpg'), linear-gradient(180deg, rgba(14, 22, 44, 0.00) 0%, rgba(14, 22, 44, 0.70) 100%);")
                        .best-moments__info
                            span.best-moments__info-title Самый неожиданный гол
                            span.best-moments__info-date 25.05.2023
                            span.best-moments__info-text Этот гол забит Тарасом Ваниным через 5 мин после начала матча и был совершенно неожиданным для команды соперника......
                    iframe(width="560", height="315", src="https://www.youtube.com/embed/GNrdg3PzpJQ?si=eET9ZK4smqtmQfce", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen)
                .best-moments__slide.swiper-slide
                    .best-moments__wrap-img.js-play-video(style="background-image: url('./img/void-bg-video.jpg'), linear-gradient(180deg, rgba(14, 22, 44, 0.00) 0%, rgba(14, 22, 44, 0.70) 100%);")
                        .best-moments__info
                            span.best-moments__info-title Самый неожиданный гол
                            span.best-moments__info-date 25.05.2023
                            span.best-moments__info-text Этот гол забит Тарасом Ваниным через 5 мин после начала матча и был совершенно неожиданным для команды соперника......
                    iframe(width="560", height="315", src="https://www.youtube.com/embed/GNrdg3PzpJQ?si=eET9ZK4smqtmQfce", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen)
                .best-moments__slide.swiper-slide
                    .best-moments__wrap-img.js-play-video(style="background-image: url('./img/void-bg-video.jpg'), linear-gradient(180deg, rgba(14, 22, 44, 0.00) 0%, rgba(14, 22, 44, 0.70) 100%);")
                        .best-moments__info
                            span.best-moments__info-title Самый неожиданный гол
                            span.best-moments__info-date 25.05.2023
                            span.best-moments__info-text Этот гол забит Тарасом Ваниным через 5 мин после начала матча и был совершенно неожиданным для команды соперника......
                    iframe(width="560", height="315", src="https://www.youtube.com/embed/GNrdg3PzpJQ?si=eET9ZK4smqtmQfce", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen)
                .best-moments__slide.swiper-slide
                    .best-moments__wrap-img.js-play-video(style="background-image: url('./img/void-bg-video.jpg'), linear-gradient(180deg, rgba(14, 22, 44, 0.00) 0%, rgba(14, 22, 44, 0.70) 100%);")
                        .best-moments__info
                            span.best-moments__info-title Самый неожиданный гол
                            span.best-moments__info-date 25.05.2023
                            span.best-moments__info-text Этот гол забит Тарасом Ваниным через 5 мин после начала матча и был совершенно неожиданным для команды соперника......
                    iframe(width="560", height="315", src="https://www.youtube.com/embed/GNrdg3PzpJQ?si=eET9ZK4smqtmQfce", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen)
                .best-moments__slide.swiper-slide
                    .best-moments__wrap-img.js-play-video(style="background-image: url('./img/void-bg-video.jpg'), linear-gradient(180deg, rgba(14, 22, 44, 0.00) 0%, rgba(14, 22, 44, 0.70) 100%);")
                        .best-moments__info
                            span.best-moments__info-title Самый неожиданный гол
                            span.best-moments__info-date 25.05.2023
                            span.best-moments__info-text Этот гол забит Тарасом Ваниным через 5 мин после начала матча и был совершенно неожиданным для команды соперника......
                    iframe(width="560", height="315", src="https://www.youtube.com/embed/GNrdg3PzpJQ?si=eET9ZK4smqtmQfce", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen)
