h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}

p {
    margin-top: 0;
    line-height: 116.455%;
}

a {
    color: currentColor;
}

.small-title {
    position: relative;
    padding-bottom: 52px;
    margin: 0;
    font-family: Gilroy;
    font-size: 16px;
    font-weight: 600;
    line-height: 101.898%;
    text-align: center;

    @media screen and (min-width: $screen-ti) {
        font-size: 24px;
        line-height: 67.932%;
        text-align: left;
    }

    &:after {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 40px;
        display: block;
        height: 1.5px;
        background-color: var(--color-dark);
        content: "";
    }
}

.input {
    padding: 10px 10px 10px 15px;
    height: 40px;
    border-radius: 10px;
    background: var(--color-dark);
    border: none;
    appearance: none;
    color: var(--color-white);
    font-size: 16px;
    outline: none;

    &::placeholder {
        font-size: 14px;
        color: rgba(255, 255, 255, 0.50);
        opacity: 1;
    }
}

.main-btn {
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: var(--color-blue);
    padding: 10px;
    min-height: 40px;
    min-width: 160px;
    color: var(--color-white);
    font-size: 14px;
    font-weight: 600;
    line-height: 1.4;
    text-align: center;
    cursor: pointer;
    transition: 0.3s ease;

    &--wide {
        width: 100%;
    }

    &:hover {
        background-color: var(--color-blue-hover);
        color: currentColor;
    }

    &:disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

.input-list {
    display: flex;
    flex-direction: column;
    gap: 12px;

    @media screen and (min-width: $screen-ti) {
        gap: 16px;
    }
}

.input-wrap {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-title {
    display: block;
    color: var(--color-white);
    font-size: 14px;
    line-height: 140%;
}

.star-list {
    display: flex;
    gap: 7px;

    &__item {
        display: flex;
        color: var(--color-gold);
        cursor: pointer;

        svg {
            transition: 0.3s all;
        }

        &:hover {
            svg {
                color: var(--color-gold);
            }
        }
    }

    input {
        display: none;
    }

    input:checked,
    input:hover {
        &~label svg {
            color: var(--color-dark);
        }
    }
}

.spoiler-title {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding-right: 35px;
    font-size: 14px;

    &::after {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: rotate(-180deg) translateY(50%);
        background: url("../{{icon}}/select-arrow") no-repeat center;
        background-position: 0 -80px;
        background-size: 20px 180px;
    }
}



.spoiler-content {
    display: none;
    flex-direction: column;
    min-width: 188px;
    gap: 15px;
    padding: 15px;
    border-radius: 15px;
    background-color: #081A22;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.30);
}

.spoiler-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media screen and (min-width: $screen-ti) {
        display: inline-flex;
    }

    &--active {
        .spoiler-title {

            &::after {
                transform: translateY(-50%);
            }
        }

        .spoiler-content {
            display: inline-flex;
        }
    }

    &__title {
        margin-bottom: 5px;
        cursor: pointer;
    }
}

.required-error {
    border: 1px solid var(--color-error) !important;
}
